<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery.js"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Recipe Organizer</title>
</head>
<body>
    <div class="container">
        <div class="welcome">
            <h1>Welcome to Your Recipe Organizer</h1>
            <nav class="home-nav">
                <p class="nav-link"><a href="/planning/search/">Search</a></p>
                <p class="nav-link"><a href="/planning/user/recipes/all">Saved Recipes</a></p>
            </nav>
        </div>
    </div>
    
</body>
</html>