<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery.js"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Recipes Search Results</title>
</head>
<body>
    <div class="landing">
        <header>
            <h1>Recipe Search Results</h1>
            <nav>
                <div class="dropdown">
                    <button class="dropbtn">Navigation</button>
                    <div class="dropdown-content">
                        <a href="/planning/user">Home</a>
                        <a href="/planning/user/recipes/all">All Recipes</a>
                        <a href="/planning/user/meals/dish?dish=appetizer">Appetizers</a>
                        <a href="/planning/user/meals/dish?dish=entree">Entrees</a>
                        <a href="/planning/user/meals/dish?dish=side">Sides</a>
                        <a href="/planning/user/meals/dish?dish=dessert">Desserts</a>
                        <a href="/planning/user/meals/dish?dish=drink">Drinks</a>
                    </div>
                </div>
                <div class="login-links">
                    <div class="sign-up">
                        <a href="/users/logout">Logout</a>
                    </div>
                </div>
            </nav>
        </header>
        <main class="welcome">
            <div class="user-search">
                <h2 class="recipe-header">Search</h2>
                <form method="GET" action="/planning/search/by-ingredients" class="search-ingredients">
                    <h3>Search By Ingredient</h3>
                    <div class="search-ind">
                        <label for="ingredients">Ingredients</label>
                        <input id="ingredients" name="ingredients" placeholder="Ingredients">
                    </div>
                    
                    <button type="submit" class="submit-ingredients">Submit</button>
                </form>
                
                <form method="GET" action="/planning/search/by-name" class="search-name">
                    <h3>Search By Keyword</h3>
                    <div class="search-ind">
                        <label for="query">Keywords<span class="required">*</span></label>
                        <input id="query" name="query" placeholder="keywords" required>
                    </div>
                    <div class="search-ind">
                        <label for="cuisine">Cuisine</label>
                        <input id="cuisine" name="cuisine" placeholder="Cuisine">
                    </div>
                    <div class="search-ind">
                        <label for="diet">Diet</label>
                        <select id="diet" name="diet">
                            <option disabled selected value>Select a Diet Option</option>
                            <option value="vegan">Vegan</option>
                            <option value="vegetarian">Vegetarian</option>
                            <option value="">Neither</option>
                        </select>
                    </div>
                    <div class="search-ind">
                        <label for="exclude-ingredients">Excluding</label>
                        <input id="exclude-ingredients" name="excludeIngredients" placeholder="e.g. butter">
                    </div>
                    <div class="search-ind">
                        <label for="intolerances">Dietary Intolerances</label>
                        <input id="intolerances" name="intolerances" placeholder="e.g. gluten">
                    </div>
                    <button type="submit" class="submit-name">Submit</button>
                </form>

            </div>
            <div class="results-recipes">
                <h2 class="recipe-header">Your Search Results</h2>
                <div class="recipes-short overflow">
                    {{#recipes}}
                    <div class="recipe-card-short" style="background-image: url(https://spoonacular.com/recipeImages/{{image}})">
                            <p><a href="/planning/search/recipes/{{id}}" class="recipe-name-short">{{title}}</a></p>
                        </div>
                    {{/recipes}}
                </div>
            </div>
        </main>
    </div>
</body>
</html>