<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery.js"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="container landing">
        <header>
            <div class="recipe-info">
                <h1>{{title}}</h1>
                <p>From <a class="sourceURL" href="{{sourceUrl}}">{{sourceName}}</a></p>
            </div>
            <div class="recipe-info">
                <p>Servings: {{servings}}</p>
                <p>Ready In: {{readyInMinutes}} min</p>
            </div>

            <form id="save">
                <input name="spoonacular_id" id="spoonacular_id" value={{id}} hidden>
                <input name="vegetarian" id="vegetarian" value={{vegetarian}} hidden>
                <input name="vegan" id="vegan" value={{vegan}} hidden>
                <input name="glutenFree" id="glutenFree" value={{glutenFree}} hidden>
                <input name="dairyFree" id="dairyFree" value={{dairyFree}} hidden>
                <input name="ketogenic" id="ketogenic" value={{ketogenic}} hidden>
                <input name="healthy" id="healthy" value={{veryHealthy}} hidden>
                <input name="image" id="image" value={{image}} hidden>
                <button class="submit" type="submit">Save This Recipe?</button>
            </form>

            <nav>
                <div class="dropdown">
                    <button class="dropbtn">Navigation</button>
                    <div class="dropdown-content">
                        <a href="/planning/user">Home</a>
                        <a href="/planning/user/recipes/all">All Recipes</a>
                        <a href="/planning/user/meals/dish?dish=appetizer">Appetizers</a>
                        <a href="/planning/user/meals/dish?dish=entree">Entrees</a>
                        <a href="/planning/user/meals/dish?dish=side">Sides</a>
                        <a href="/planning/user/meals/dish?dish=dessert">Desserts</a>
                        <a href="/planning/user/meals/dish?dish=drink">Drinks</a>
                    </div>
                </div>
                <div class="login-links">
                    <div class="sign-up">
                        <a href="/users/logout">Logout</a>
                    </div>
                </div>
            </nav>
        </header>
        <main class="welcome">
            <div class="recipe-ingredients">
                <h2 class="recipe-header">Ingredients</h2>
                <div class="overflow">
                    <ul>
                        {{#extendedIngredients}}
                        <li>{{originalString}}</li>
                        {{/extendedIngredients}}
                    </ul>
                </div>
            </div>
            <div class="recipe-instructions">
                <h2 class="recipe-header">Instructions</h2>
                <div class="instructions overflow">
                    <div class="recipe-card-short center" style="background-image: url({{image}})">
                    </div>
                    {{#analyzedInstructions}}
                        <ol>
                            {{#steps}}
                            <li>{{step}}</li>
                            {{/steps}}
                        </ol>
                    {{/analyzedInstructions}}
                </div>
            </div>
        </main>
    </div>
</body>
</html>