<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery.js"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Filtered By Diet</title>
</head>
<body>

    <div class="container landing">
        <header>
            <h1>Filtered Recipes</h1>
            <nav>
                <div class="dropdown">
                    <button class="dropbtn">Navigation</button>
                    <div class="dropdown-content">
                        <a href="/planning/user">Home</a>
                        <a href="/planning/user/recipes/all">All Recipes</a>
                        <a href="/planning/user/meals/all">Meals</a>
                        <a href="/planning/user/meals/dish?dish=appetizer">Appetizers</a>
                        <a href="/planning/user/meals/dish?dish=entree">Entrees</a>
                        <a href="/planning/user/meals/dish?dish=side">Sides</a>
                        <a href="/planning/user/meals/dish?dish=dessert">Desserts</a>
                        <a href="/planning/user/meals/dish?dish=drink">Drinks</a>
                    </div>
                </div>
                <div class="login-links">
                    <div class="sign-up">
                        <a href="/users/logout">Logout</a>
                    </div>
                </div>
            </nav>
        </header>
        <main class="welcome">
            <div class="user-search">
                <h2 class="recipe-header">Filter By Diet</h2>
                <form method="GET" action="/planning/user/recipes/preferences" class="filter-recipes">
                    <div class="search-ind">
                        <label for="vegetarian">Vegetarian</label>
                        <input type="checkbox" name="vegetarian" id="vegetarian">
                    </div>
                    <div class="search-ind">
                        <label for="vegan">Vegan</label>
                        <input type="checkbox" name="vegan" id="vegan">
                    </div>
                    <div class="search-ind">
                        <label for="gluten_free">Gluten Free</label>
                        <input type="checkbox" name="gluten_free" id="gluten_free">
                    </div>
                    <div class="search-ind">
                        <label for="dairy_free">Dairy Free</label>
                        <input type="checkbox" name="dairy_free" id="dairy_free">
                    </div>
                    <div class="search-ind">
                        <label for="ketogenic">Ketogenic</label>
                        <input type="checkbox" name="ketogenic" id="ketogenic">
                    </div>
                    <div class="search-ind">
                        <label for="healthy">Healthy</label>
                        <input type="checkbox" name="healthy" id="healthy">
                    </div>
                    <button class="submit" type="submit">Filter</button>
                </form>
            </div>

            <div class="user-recipes">
                <h2 class="recipe-header">Recipes</h2>
                <div class="recipes-short overflow">
                    {{#recipes}}
                        <div class="recipe-card-short" style="background-image: url({{image}})">
                            <p><a class="recipe-name-short" href="/planning/user/recipes/{{id}}">{{name}}</a></p>
                        </div>
                    {{/recipes}}
                </div>
            </div>
        </main>
    </div>
    
</body>
</html>