<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery.js"></script>
    <script src="/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    {{#recipe}}
    <h1>{{name}}</h1>
    {{/recipe}}
</body>
</html>